extends layout

block content
    script(src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js")
    script.
        const achievements = !{JSON.stringify(achievements)}
        const year = !{JSON.stringify(year)}
        const month = !{JSON.stringify(month)}
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: achievements.map(aDate => {
                    return {
                        title: 'Done!',
                        start: aDate,
                        display: 'background'
                    };
                }),
                initialDate: `${year}-${month}-01`
            });
            calendar.render();
        });
    h1 鍛錬#{training.id()}の詳細
    div
        p #{training.name()} #{training.velocity()} #{training.unit()}
    div
        p これまでの達成
        p #{training.name()} #{totalVelocity} #{training.unit()}
    div
        p 達成カレンダー
        a(href=`/training/${training.id()}?year=${next.nextYear}&month=${next.nextMonth}`) next month
        br
        a(href=`/training/${training.id()}?year=${previous.previousYear}&month=${previous.previousMonth}`) previous month
        #calendar
