extends layout

block content
    h1 鍛錬#{training.id()}の詳細
    div
        p #{training.name()} #{training.velocity()} #{training.unit()}
    div
        p これまでの達成
        p #{training.name()} #{totalVelocity} #{training.unit()}
    div
        p 達成カレンダー
        p #{janAchievements[0].trainingId()} (#{janAchievements[0].date()})
