extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        each training in trainings
            li #{training.name()} #{training.velocity()} #{training.unit()}
                if achievedSet.has(training.id())
                    span ✅
                else
                    form(action=`/achievement/${training.id()}`, method="post")
                        input(type="submit", value="達成")
    form(action="/training", method="post")
        input(type="text", name="name")
        br
        input(type="number", name="velocity")
        br
        input(type="text", name="unit")
        br
        input(type="submit", value="登録")

